@import url("https://fonts.googleapis.com/css?family=Roboto");

.App {
  overflow: auto;
  margin: 30px auto;
  width: 100%;
  min-height: 390px;
  border-radius: 30px;
  box-shadow: 4px -1px 56px 11px rgba(0,0,0,0.39);
}
body {
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  background-color: var(--gh-grey-01);
  color: #333;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  margin-left: 50px;
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
}

.App {
  display: flex;
  align-items: center;
}

.container {
  width: 1024px;
  height: 100%;
  text-align: left;
}

table {
  table-layout: auto;
  min-width: 100%;
  border: 1px solid var(--gh-grey-2);
  border-collapse: collapse;
  background-color: #ffffff;
  box-sizing: border-box;
  margin-top: 40px;
}

thead {
  background-color: var(--gh-grey-0);
  padding: 20px;
  border: 1px solid var(--gh-grey-2);
}

td {
  padding: 0 20px;
}
th {
  width: 160px;
  border-top: 1px solid var(--gh-grey-2);
  padding: 10px 20px;
}
tr {
  width: 160px;
  height: 40px;
  border-top: 0.025rem solid var(--gh-grey-1);
}

button {
  background-color: transparent;
  color: var(--gh-blue-5);
  gap: 8px;
  border: none;
  cursor: pointer;
}
